<%= form_with model: post do |form| %>

  <section class="post-form-content">

    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>

    <div class="post-form-text">
      <%= form.text_field :title, placeholder: 'Enter title', class: 'post-form-title-input' %>
      <%= form.text_field :address, placeholder: 'Enter Address', class: 'post-form-address-input' %>
      <%= form.text_field :content, placeholder: 'Enter content', class: 'post-form-content-input' %>
    </div>
    <div class="post-categories-container">
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
    </div>
    <div class="post-image-uploader">
      <%= form.file_field :image, class: 'image-input' %>
    </div>

    <%= form.submit class: 'new-post-submit'%>
  </section>

<% end %>