<content class="posts">

  <% @posts.each do |post| %>
    <section class="post-container">

      <div class="post-texts">
        <h1 class="post-title">

          <%= post.title %>

          <% if @hot_posts.include?(post) %>
            <span class="hot-tag">HOT</span>
          <% end %>

        </h1>
        <p class="post-address"><%= post.address %></p>
        <p class="post-category"><%= post.categories.pluck(:name).join(',') %></p>
        <p class="post-user"><%= post.user&.email %></p>
      </div>

      <div class="post-btn">
        <%= link_to '', post_path(post), class: 'fa-solid fa-eye' %>

        <div class="icon-container">
          <i class="fa-solid fa-comment"></i>
          <%= link_to "#{post.comment_count}", post_comments_path(post), class: 'link' %>
        </div>

        <% if user_signed_in? %>
          <div class="icon-container">
            <i class="fa-solid fa-comment"></i>
            <%= link_to '+', new_post_comment_path(post), class: 'link' %>
          </div>
        <% end %>


        <% if user_signed_in? && post.user == current_user %>

          <div class="icon-container">
            <%= link_to '', edit_post_path(post), class: 'fa-solid fa-wrench'%>
          </div>

          <div class="icon-container">
            <%= link_to '', post_path(post), method: :delete, class: 'fa-solid fa-trash' %>
          </div>
        <% end %>

      </div>

    </section>
  <% end %>

</content>

<%= link_to 'New Post', new_post_path, class: 'new-post-btn' if user_signed_in? %>